.leftSidebar {
    grid-area: aside;
    width: 16.875rem;
    border-right: 1px solid #e8edf0;
    padding: 1rem;
}

.leftSidebarLogo img {
    width: 100%;
}

.leftSidebarMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.leftSidebarNavItem {
    color: #3f3f3f;
    padding: 1rem;
    margin: 0.5rem 0;
}